<!DOCTYPE html>
<html lang="en"/>
<meta charset="UTF-8"/>
    <title>Title</title>
<script type="text/javascript" src="//mat1.gtimg.com/libs/jquery/1.12.0/jquery.min.js"></script>

<script>
    function subName() {
        var name = $('#name').val();
        $.ajax({
            type: "post",
            url: '/search',
            data:{name:name},
            success: function (data) {
                $("#res").html(data);
            }
        });
    }

    function getDownloadUrl() {
        var name = $('#url').val();
        $.ajax({
            type: "get",
            url: '/getDownloadUrl?mp3Url='+name,
            success: function (data) {
                $("#mp3Url").html(data);
            }
        });
    }
</script>
<head>gsdd</head>
<br>
请输入要搜索的小说名：
<input id="name" type="text"/><button id="subName" onclick="subName()">提交</button>
<span>搜索结果</span>
<div  id="res"></div>
<br>
<br>
请输入要获取的URL：
<input id="url" type="text"/><button  onclick="getDownloadUrl()">提交</button>
下载链接：<a id="mp3Url"></a>
</body>
</html>