<!DOCTYPE html>
<html lang="en">
　　<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
</html>
<meta charset="UTF-8"/>
<title>主页</title>

<script>
    function subName() {
        var name = $('#name').val();
        $.ajax({
            type: "get",
            url: '/search',
            data: {name: name},
            success: function (data) {
                $("#res").html(data);
            }
        });
    }

    function getDownloadUrl() {
        var name = $('#url').val();
        $.ajax({
            type: "get",
            url: '/getDownloadUrl?mp3Url=' + name,
            success: function (data) {
                $("#mp3Url").html(data);
            }
        });
    }
</script>
<head>
    <div align="center">
        <h1>有声小说搜索</h1>
    </div>
</head>
<br>
请输入要搜索的小说名：
<input id="name" type="text"/>
<button id="subName" onclick="subName()">提交</button>
<span>搜索结果</span>
<div id="res"></div>
<br>
<br>
<audio src="/getDownloadUrl?mp3Url=/play_23383_50_1_1.html"
       controls>adasd
</audio>
</body>
</html>